.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.headline {
    font-size: 1.75em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    text-align: center
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding-top: -20px;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    line-height: 180%;
}

.chapter {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: left; 
    color: #f23030;
    border-bottom: solid 2px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.grimace {
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
}

.footer-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.caption {
    font-family: "Montserrat", sans-serif;
    color: gray;
    font-style: italic;
    font-size: 12px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.row {
    font-family: Georgia, serif;
    text-align: center;
}

.sidebar {
    border: solid 2px #f23030;
    padding: 10px;
    font-family: "Montserrat", sans-serif !important;
}

.side-hed {
    font-family: "Montserrat", sans-serif;
    color: #f23030;
    text-align: center;
    font-size: 2em;

}

.sidebar-text {
    font-family: "Montserrat", sans-serif !important;
}

.link {
    color: #f23030;
}

.link:hover {
    color:#F230A5; 
}

.link:visited {
    color: #DD30F2;
}

.photo {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.photo-bottom {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
}

.pullquote {
    background-color: black;
    padding: 20px;
}

.quote {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-align: center;
}

.source {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f23030;
    text-align: center;
}

/*TOP HAT*/

.nav-logo {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    font-size: 1.5em;
}

.red {
    color: #f23030;
}

.navbar {
    background-color: #000 !important;
}

/*SPLASH*/

.hero-container {
    position: relative;
    text-align: center;
}

.hero-image{
    width: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: .7;
    top: 10%;
}

.overlay-caption {
    width: 100%;
    top: 20%;
    background: black;
    opacity: .7;
    color: white;
    margin: 0 auto;
    padding-left: 20px;
}

.hero-hed{
    margin: 0 auto;
    font-size: 6em;
    font-family: "Playfair Display", serif;
    padding-bottom: 10px;
    color: white;
    padding-top:-10px;
}

.hero-sub {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    padding-bottom: 30px;
}

/*Media Query*/

@media(max-width: 900px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .hero-hed {
        font-size: 4em;
    }

    .chatper {
        font-size: 1em;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        font-size: 1em;
    }

    .hero-sub {
        font-size: 1em;
    }


}

@media(max-width: 600px) {

    .container {
        max-width: 300px;
        margin: 0 auto;
    }

    .hero-hed {
        font-size: 2em;
    }

    .chatper {
        font-size: 1em;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        font-size: .75em;
    }

    .hero-sub {
        font-size: .75em;
    }
}