/* styles for my resume*/

/* font to be used for all text in resume*/
BODY {
  font-family: Georgia, serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: Georgia;
}

/*font size, color and alignment for name on resume*/
#name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*making my job description bold
#title {
  color: #33485e;
  text-transform: uppercase;
  font-size:2em;
  font-weight: 600px;
  margin: 20px, 0px, 0px, 0px;
  text-align: center;
  padding-top: 40px;
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
}
  */

/* adding a background to section headers*/
#section-header-1 {
  font-size: 2.5em;
  border-bottom: solid #33485e;
  color: #EC713F;
  margin: 20px 0px 10px 0px;
  width: 100%;
  min-width: 300px;
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#section-header-2 {
  font-size:2.5em;
  border-bottom: solid #33485e;
  color: #EC713F;
  margin: 20px 0px 10px 0px;
  width: 100%;
  min-width: 300px;
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#section-header-3 {
  font-size:2.5em;
  border-bottom: solid #33485e;
  color: #EC713F;
  margin: 20px 0px 10px 0px;
  width: 100%;
  min-width: 300px;
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* setting type for job titles*/
#job-title {
  font-size:1.5em;
  font-weight:600;
}

/* setting type for job organization*/
.org {
  font-size:1.25em;
  font-weight:400;
  margin-bottom: -18px;
  margin-top:-20px;
}

#dates {
  font-size:1em;
  font-style:italic;
}

/* style for grafs*/
.description {
  margin: 10px, 0px, 10px, 0px;
}

/* creating nav bar for contact info*/
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li {
  display: inline;
}

/* style for education */
#degrees {
  margin: 5px, 0px, 0px, 0px;
}

/* style for skills */

#do {
  margin: 5px, 0px, 0px, 0px;
}

.mission-statement {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#photo {
  width: 100%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: "sweet sans pro";
}

.nav-item {
  font-family: "sweet sans pro";
}

#buttons {
  text-align: center;
}

.btn {
  background-color: #33485e !important;
}

.btn:hover {
  background-color: #4E5161 !important;
}



@media only screen and (max-width: 835px) {
  #container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 640px) {
  #container {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }
}

#link {
  color: #EC713F;
}