/* styles for my resume*/

/* font to be used for all text in resume*/
BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/*font size, color and alignment for name on resume*/
h1 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
}

/*making my job description bold*/
strong {
  color: #33485e;
  text-transform:uppercase;
  font-size:1.5em;
}

/* adding a background to section headers*/
h2 {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff
}

/* setting type for job titles*/
h3 {
  font-size:1.5em;
  font-weight:600;
}

/* setting type for job organization*/
h4 {
  font-size:1.5em;
  font-weight:400;
}

h5 {
  font-size:1em;
  font-weight:400;
  font-style:italic;
}

ul {
  font-size:1em;
}
