body {
    background-color: black;
}

.top {
    background-color: #000 !important;
    color: white !important;
    text-align: center !important;
    font-family: Georgia, serif;
    line-height: 180%;
    opacity: .7;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
}


.container {
    color: white;
    margin: 0 auto;
    max-width: 800px;
}

iframe {
    padding: 20px;
}

.video {
    filter: grayscale(100%);
}


.headline {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    font-family: Georgia, serif;
    color: white;
}

.lonely-quiet {
    background: linear-gradient(to right, white, rgba(82, 80, 80, 0.343));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: Georgia, serif;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    line-height: 180%;
    opacity: .7;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
}


.main {
    width: 120%;
    opacity: .8;
}

footer {
    background-color: black;
    color: white;
}

.footer-text {
    font-family: Georgia, serif;
    text-align: center;
    opacity: .7;
}

.caption {
    font-family: Georgia, serif;
    color: white;
    font-style: italic;
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 15px;
    opacity: .7
}

.row {
    font-family: Georgia, serif;
    text-align: center;
}

.big-letter {
    font-size: 48px;
    padding: 5px;
}

.pullquote {
    border: solid #c71e1d 0.5px;
    opacity: .7 !important;
    padding-top: 20px !important;
    margin: 15px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.quote-mark {
    color: #c71e1d;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 40px;
}

.red {
    color: #c71e1d;
    font-family: Georgia, serif !important;
}

img {
    filter: grayscale(100%);
}

.contained-photo {
   align-items: center;
   margin: 0 auto;
   width: 100%;
}

.outside-photo {
    margin: 0 auto;
    width: 100%;
}

.nav-text {
    color: white;
    opacity: 0.7;
    text-align: center !important;
    font-family: Georgia, serif;
    margin: 0 auto;
    font-size: 1em;
}

.navbar {
    background-color: black !important;
}

@media(max-width: 900px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .hero-hed {
        font-size: 4em;
    }

    .chatper {
        font-size: 1em;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        font-size: 1em;
    }

    .hero-sub {
        font-size: 1em;
    }


}

@media(max-width: 600px) {

    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .hero-hed {
        font-size: 2em;
    }

    .chatper {
        font-size: 1em;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        font-size: .75em;
    }

    .hero-sub {
        font-size: .75em;
    }
}

.section-break {
    font-family: Georgia, serif;
    line-height: 180%;
    opacity: .7;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 30px;
    text-align: center;
}